<!DOCTYPE html>
<html lang="en">

<head>
    <title>boptimus</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" type="image/png" href="/favicon.png" />
    <link rel="stylesheet" type="text/css" href="/main.css" />
    <!-- <link rel="stylesheet" type="text/css" href="/reset.css" /> -->
    <!-- <link rel="stylesheet" type="text/css" href="/root.css" /> -->
</head>

</html>
