<!DOCTYPE html>
<html lang="en">

<head>
    <title>kob</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" type="image/png" href="/assets/favicon.png" />
    <link rel="stylesheet" type="text/css" href="/assets/css/main.css" />
    <!-- <link rel="stylesheet" type="text/css" href="/assets/css/reset.css" /> -->
    <!-- <link rel="stylesheet" type="text/css" href="/assets/css/root.css" /> -->
</head>

</html>
