<!--
     Data dependency:
     {
       shapes: [ { id, name }..., ]
     }
-->

<%- include('./components/head.ejs') -%>

<body>
    <%- include('./components/header.ejs') -%>
    <main>
        <h3>find optimal blueprint</h3>
        <form id="form-optimal-blueprints" name="optimal-blueprints">
            <div class="shapes">
                <fieldset class="shape">
                    <label class="input-count">
                        <input type="number" value="1" />
                    </label>
                    <button class="remove-shape" type="button" value="remove">remove</button>
                </fieldset>
                <button id="add-shape" type="button" value="add">add</button>
            </div>
            <button type="submit" value="submit">find optimal blueprints</button>
        </form>
        <ul class="list-optimal-blueprint" >
        </ul>
    </main>
    <%- include('./components/footer.ejs') -%>
    <script defer type="module" src="/assets/js/home.js"></script>
</body>
